.horizontal-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white; 
}

.horizontal-menu-item a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.horizontal-menu-item a:hover {
    background-color: red;
    color: white;
}

#category-view-menu,
#user-profile-menu {
	border-right: 5px solid #2d67f6;
}

.profile-details {
	border-right: 5px solid #2d67f6;
}

.user-subject,
.user-profile-section-title,
.home-page-section-title,
.category-view-title,
.category-view-auction {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 2px solid #a5a5a5;
}

.details-section {
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.padding-left {
	width: 100%;
	padding-left: 15px;
	margin-left: 30px;
}

.details-section-border {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid #a5a5a5;
}

.div-layout {
	height: 100vh;
}

#proceed-form .form-group {
	margin: 0;
}

.user-data-tr {
	background-color: white !important;
}

.user-data-td {
	text-align: center;
	border: none;
}
