.image-240 {
	width: auto;
	height: 240px;
}

.image-180 {
	width: auto;
	height: 180px;
}

.image-160 {
	width: auto;
	height: 160px;
} 

.image-120 {
	width: auto;
	height: 120px;
}

@media only screen and (max-width: 600px) {

	.image-240,.image-180,.image-160,.image-120 {
		max-width: 100%;
		width: auto;
		height: 180px;  
	}
	
}

.img-center {
	display: block;
	margin: 0 auto;
} 