.navbar .navbar-nav .dropdown.open 
.dropdown-toggle::after {
	display: none;
}

.navbar .navbar-nav .dropdown 
.dropdown-toggle::after {
	display: none;
}

.navbar .navbar-nav .dropdown 
.dropdown-toggle .caret {
	display: inline-block;
}

.mail_notify {
/*      width: 150px;
    height: 100px; */
/*     background-color: red; */
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    50%   {background-color: red;}
/*     50%  {background-color: white;} */
}

/* Standard syntax */
@keyframes example {
    50%   {background-color: red;}
/*     50%  {background-color: white;} */
}
