/* {
	background-color: rgb(0,0,0);  Fallback color sciemnia ekran 
    background-color: rgba(0,0,0,0.4);  Black w/ opacity 
}*/

/*
.modal-custom {
    display: none; 
    z-index: 1;
    padding-top: 100px; 
    overflow: auto; 
}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    height: 50px;
}

.modal-center {
	text-align: center;
}
*/

.navbar .navbar-nav .dropdown.open 
.dropdown-toggle::after {
	/* content: "rozwin"; */
	display: none;
}

.navbar .navbar-nav .dropdown 
.dropdown-toggle::after {
	/* content: "zwin"; */
	display: none;
}

.navbar .navbar-nav .dropdown 
.dropdown-toggle .caret {
	display: inline-block;
}
