.navbar .navbar-nav .dropdown.open 
.dropdown-toggle::after {
	display: none;
}

.navbar .navbar-nav .dropdown 
.dropdown-toggle::after {
	display: none;
}

.navbar .navbar-nav .dropdown 
.dropdown-toggle .caret {
	display: inline-block;
}
