.pointer {
	background-color: #3399ff;
	border-radius:10px;
}
.pointer:hover {
	background-color: #aaaaaa;
	border-radius:10px;
	cursor: pointer;
}
.pointer:active {
	background-color: #aaaaaa;
	border-radius:10px;
	cursor: pointer;
}
.pointer-title:hover {
	cursor: pointer;
}
.pointer-item:hover {
	text-decoration: underline;
	cursor: pointer;
}

tr:nth-child(even){
	background-color: white; 
} 
/* tr:nth-child(4n+3) {
	background-color: #f5f5f5 !important;
}
tr:nth-child(4n+4) {
	background-color: #f5f5f5 !important;
} */
tr:nth-child(3) {
	background-color: #f5f5f5 !important;
}
tr:nth-child(4n+7) {
	background-color: #f5f5f5 !important;
}
td, th {
	border: 0;
}
